/* === Global Variables ===*/ 
$main-font: "Open Sans", sans-serif;
$headline-font: "Oswald", sans-serif;
$black: #333;
$white: #fbfcfe;
$blue: #017ac8;
$hover-color: #8b929c;
$darkblue: #263960;

/*== Base Styles ==*/ 
body {
    background-color: $white;
    font-size: 20px;
    font-family: $main-font;
    color: $black;
    width: 100%;
    margin: 0 auto;
}

/*== Header ==*/
header {
    background-color: $blue;

    .navbar-brand {
        font-size: 35px;
        font-family: $headline-font;
        color: $white;
    }

    ul {
        li {
            font-weight: bold;
        }

        a {
            color: $white;
            font-size: 20px;
            font-family: $main-font;
        }

        a:hover {
            color: $hover-color;
        }
    }
}

/*== Banner ==*/ 
#banner {
    width: 100%;
    padding: 20px 0;
    background-color: $darkblue;
    color: $white;

    h2 {
        font-size: 30px;
        font-family: $main-font;
        line-height: 52px;

        span {
            font-family: $headline-font;
        }
    }

    h3 {
        font-family: $main-font;
        font-size: 25px;
    }
}

/*== Footer ==*/ 
.contact {
    padding: 15px 0;
    width: 100%;

    h3 {
        font-family: $headline-font;
        font-size: 25px; 
        padding: 15px 0;
    }
    
    p {
        font-size: 16px;
        padding-left: 20px;
        padding-top: 20px;
    
        i {
            padding-right: 10px;
        }
    }
    
    li {
        padding: 10px 0;
    
        a {
            color: $darkblue;
        }
    
        a:hover {
            color: $hover-color;
        }
    }
}
    

.copyright {
    width: 100%;
    background-color: $blue;
    font-size: 16px;
    color: $white;
    padding: 15px 0;
}