/* === Global Variables ===*/
$main-font: "Open Sans",
sans-serif;
$headline-font: "Oswald",
sans-serif;
$black: #333;
$white: #fbfcfe;
$blue: #017ac8;
$hover-color: #8b929c;
$darkblue: #263960;

/*== Base Styles ==*/
body {
    background-color: $white;
    font-size: 20px;
    font-family: $main-font;
    color: $black;
    width: 100%;
    margin: 0 auto;
}

/*== Header ==*/
header {
    background-color: $blue;

    .navbar-brand {
        font-size: 25px;
        font-family: $headline-font;
        color: $white;
    }

    ul {
        li {
            font-weight: bold;
        }

        a {
            color: $white;
            font-size: 20px;
            font-family: $main-font;
        }

        a:hover {
            color: $hover-color;
        }
    }
}

/*== Banner ==*/
#banner {
    width: 100%;
    padding: 20px 0;
    background-color: $darkblue;
    color: $white;

    h2 {
        font-size: 25px;
        font-family: $main-font;
        line-height: 52px;

        span {
            font-family: $headline-font;
        }
    }

    h3 {
        font-family: $main-font;
        font-size: 20px;
    }
}

/*== About ==*/
#about {
    width: 100%;
    padding: 40px 0;

    h3 {
        font-size: 25px;
        font-family: $headline-font;
    }

    p {
        line-height: 32px;
        padding: 15px 0;
    }

    li {
        line-height: 32px;
        padding: 15px 0;
    }
}

/*== Rules ==*/
#rules {
    width: 100%;
    padding: 40px 0;

    h3 {
        font-size: 25px;
        font-family: $headline-font;
    }

    p {
        line-height: 32px;
        padding: 15px 0;
    }

    li {
        line-height: 32px;
        padding: 15px 0;
    }
}

/*== Footer ==*/
.copyright {
    width: 100%;
    background-color: $blue;
    font-size: 18px;
    color: $white;
    padding: 15px 0;

    li {
        a {
            color: $white;
        }

        a:hover {
            color: $hover-color;
        }
    }
}